@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap');
@custom-variant dark (&:where(.dark, .dark *));

html {
    scroll-behavior: smooth;
}

@font-face {
  font-family: "header-fonts";
  src: url("./assets/fonts/thmanyahserifdisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
*{
  scroll-behavior: smooth;
}
@theme{
    /* --color-primary:#99BC85; */
    --color-primary:oklch(39.3% 0.095 152.535);
    --color-secondary:oklch(98.2% 0.018 155.826);
    --color-accent:#9CB080;
    --color-white:#fbfcfb;
    --color-black:#11180f;
    --color-gray-text:oklch(55.1% 0.027 264.364);
    --font-text: "IBM Plex Sans Arabic", sans-serif;
    --font-header: "header-fonts", sans-serif;
}

.testimonial-swiper {
    --swiper-pagination-color: var(--color-primary);
    --swiper-pagination-bullet-inactive-color: var(--color-primary);
    --swiper-pagination-bullet-inactive-opacity: 0.35;
}
